*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: url(bg6.webp);
    background-position: center;
    background-size: cover;
    justify-content: center;
    min-height: 100vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color:rgb(145, 71, 215);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    float: left;
    padding-top: 20px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 98px;
    margin-top: 35px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

ul li a:hover{
    color:rgb(215, 70, 184)
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 200px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(110, 39, 177);
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;


}

.search .srch::placeholder{
    color:#fff;
}

.btn{
    width: 100px;
    height: 40px;
    background: rgb(129, 48, 192);
    border: 2px solid rgb(191, 9, 167);
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}

.btn:focus{
    outline: none;

}

.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content .par{
    padding-left: 15px;
    padding-bottom: 25px;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family:'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: rgb(253, 0, 211);
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 20px;
    border-radius: 10px;
    font-size: 18px;
    transition: .3s ease;

}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease-in;
}

.cn:hover{
    background-color:aqua;
}

.content span{
    color: rgb(185, 156, 219);
    
}

.form{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(125, 202, 232, 0.5)50%,rgba(125, 202, 232, 0.5)50%);
    position: absolute;
    top: -20px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: rgb(132, 33, 132);
    font-size: 22px;
    background-color: #fff;;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background:transparent;
    border-bottom: 2px solid rgb(0, 232, 232);
    border-top: none;
    border-left: none;
    border-right: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
    
}

.form p{
    align-items: center;
}

.form input:focus{
    outline: none;
}

.form input::placeholder{
    color:#000;
    font-family: Arial;
    font-weight: bold;
}

.btnn{
    width: 240px;
    height: 40px;
    background:rgb(0, 232, 232);
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color:#fff;
    transition: 0.3 ease;
}

.btnn:hover{
    background-color: rgb(10, 9, 9);
    color:aqua;
}


.btnn a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}


.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.form .link a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.liw{
    padding-top:15px;
    padding-bottom: 10px;
    text-align: center;
}

.icons a{
    text-decoration: none;
    color: #fff;
}

.icons ion-icon{
    color:rgb(251, 251, 251);
    font-size: 30px;
    padding-left: 23px;
    padding-top: 5px;
    transition: .3s ease;;
}

.icons ion-icon:hover{
    color:rgb(1, 1, 1);
}

  
